.repeat{
  -webkit-text-fill-color: grey;
}
.center{
  width: 50%; /* Set the width of the div */
  margin: 0 auto; /* Center the div horizontally */
  border: 1px solid #ccc; /* Optional: Add a border for visibility */
  padding: 20px;
  justify-content: center;
}
.img{
  height: auto;
  margin: 0 auto;

}
body{
  background-color: lightgrey;
}